* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #0720F4;
	font-size: 8px;
}

a:hover {
	text-decoration: underline;
}

li {
	list-style: none;
}

body {
	font-size: 63.5%;
	font-family: arial, sans-serif;
	/* wiki colors */
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 68px;
	z-index: 99;
	background-color: #FFF;
}

.nav_home {
	background-color: #0720F4;
}

.wrapper {
	font-size: 1.6em;
	margin-top: -6%;
	width: 100%;
	position: relative;
	height: auto;
}

.wrapper_home {
	background-color: #0720F4;
}

.wrapper_home a {
	color: #FFF;
}

.navbar {
	display: inline-block;
	font-size: 22px;
	float: right;
}

.navbar li {
	display: inline-block;
}

.box {
	width: 26%;
	max-width: 27%;
	height: auto;
	float: left;
	position: relative;
	margin: 10px 18px 10px 8px;
	font-size: 16px;
	display: inline;
	color: #0720F4;
}

.border {
	border-right: 5px solid #0720F4;
	position: relative;
}

.box_home {
	color: #FFF;
	border-right: 2px solid #FFF;
}


.box h4 {
	margin: 20px 0;
	font-size: 10px;
}


/*.verticalLine {
	border-left: medium solid #FFFFFF;
	height: 470px;
	margin-top: 31px;
	display: inline;
	position: absolute;
}*/

.smallScreen {
	margin-top: 25px;
}

.logo {
	width: 40%;
	height: 75%;
}

.main {
	margin: 5% 10% 0 25%;
}

.main p img {
	width: 90%;
	height: 90%;
}