* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {height: 100%; min-height: 100%}

a {
	text-decoration: none;
	color: #0720F4;
	font-size: 13px;
}

a:hover {
	text-decoration: underline;
}

li {
	list-style: none;
}

body {
	font-size: 63.5%;
	font-family: arial, sans-serif;
	/* wiki colors */
	/*background-color: #0720F4;*/
}

.pages {
	background-color: #FFF;
	font-family: arial, sans-serif;
	color: #0720F4;
}

.pages a {
	color: #0720F4;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 68px;
	z-index: 99;
	background-color: #FFF;
}

.nav_home {
	background-color: #0720F4;
}

nav a img {
	padding-top: 19px;
  	padding-left: 14px;
}

.wrapper {
  font-size: 1.6em;
  margin-top: 5%; 
  width: 100%;
  position: relative;
  height: auto;
  padding: 10px;
  color: #0720F4;
  margin-bottom: 10px;
  top: 68px;
}

.wrapper_home {
	background-color: #0720F4;
	color: #FFF; 
	margin-top: -5%; 
}

.wrapper_home a {
	color: #FFF;
}

.logocontainer {
	width: 267px;
	height: 74px;
	background-color: #0720F4;
	display: inline-block;
}

/*.navbar {
	display: inline-block;
	font-size: 22px;
	float: right;
	margin-right: -21%;
	padding: 22px;
	height: 74px;
	width: 100%;
	border-bottom: 2px solid #0720F4;
}

.navbar li {
	display: inline-block;
	margin-right: 15px
}

.navbar span {
	font-size: 18px;
	font-weight: bold;

}*/

.box {
	width: 15%;
	max-width: 15%;
	height: 100%;
	float: left;
	position: fixed;
	margin: 4px 0 10px 44px;
	font-size: 16px;
	color: #0720F4;
	background-color: #FFF;
}

.border {
	border-right: 5px solid #0720F4;
	position: relative;
}

.box_home {
	color: #FFF;
	border-right: 5px solid #FFF;
	min-height: 500px;
	position: relative;
	background-color: #0720F4;;
}

.box h4 {
	margin: 5px 0 20px 0;
}

.box li {
	margin: 5px 0;
}

.social {
	margin: 100px 0 20px 0;
}

.lists {
	margin-bottom: 20px;
}

.list_nav {
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
	font-size: 12px;
}

.main {
	margin: -5% 10% 0 19%;
	height: 100%;
	max-width: 1080px;
	padding: 17px;
	color: #8692F9;
	background-color: #FFF;
}

.main p {
	margin: 3px 0;
}

.main a {
	font-size: 12px;
	color: #8692F9;
}


/*.verticalLine {
	border-left: thick solid #FFFFFF;
	height: 500px;
	margin-top: 20px;
	display: inline;
	position: absolute;
}*/

.sidebar {
	width: 257px;
	height: 100%;
	border-right: 2px solid #0720F4;
	padding: 30px;
	display: inline-block;
	position: fixed;

}



.onview {
	font-weight: bold;
}

