* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 13px;
}

a:hover {
	color: #86AEBD;
}

li {
	list-style: none;
}

body {
	font-size: 63.5%;
	font-family: arial, sans-serif;
	/* wiki colors */
	background-color: #0720F4;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 15%;
	z-index: 99;
	background-color: #0720F4;
}

.wrapper {
	font-size: 1.6em;
	padding: 2em;
	margin-top: 3%;
	width: 100%;
	position: relative;
	top: 26px;
	height: auto;
}

.navbar {
	display: inline-block;
	font-size: 22px;
	float: right;
}

.navbar li {
	display: inline-block;
}

.box {
	width: 15%;
	max-width: 15%;
	height: auto;
	float: left;
	position: relative;
	margin: 0 0 10px 44px;
	font-size: 16px;
	color: #FFFFFF;
}

.box h4 {
	margin: 20px 0;
}

.verticalLine {
	border-left: thick solid #FFFFFF;
	height: 500px;
	margin-top: 20px;
	display: inline;
	position: absolute;

}
